node_modules/
dist/
.env

# Ignore Firebase admin service account JSON(s)
starlink-suscription-firebase-adminsdk-*.json
*.firebase-adminsdk-*.json

# Ignore moved service account and local config
./src/config/firebase.json

# Ensure .env.example is allowed
!.env.example


src/config/firebase.json
